body {
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto', sans-serif;
}
header {
  position:relative;
  width: 192rem;
  height: 32rem;
  background: linear-gradient(#CE3246,#FF86B2 );
}
.box{
    position:relative;
    width:60%;
    margin: 0 auto;
}
nav {
  position:absolute;
  left:20%;
  margin-top:20px;
}
nav li {
  display: inline;
  decoration: none;
  margin: 0 0 0 15px;
}
nav a {
  text-transform: uppercase;
  color: #FFFDFD;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  font-family: 'Roboto';
  

}
nav a:hover {
  color: #13C236;
  text-decoration: underline;
}

.titulo_principal{
  position:absolute;
  top:40%;
  width:80%;
  color:#FBEBED;
  height:auto;
  font-size:2em;
  margin:0 0 1em;
  left:10%;
}
.titulo_principal h2{
  font-family:'Lato';
  font-size: 4.8rem;
  line-height: 110%;
  font-style: normal;
  font-weight: 600;
}
.titulo_principal h1{
  font-family:'Lato';
  font-size: 7.2rem;
  line-height: 110%;
  font-style: normal;
  font-weight: 600;
}




/*

color:primarias =  
primary/red = background: #CE3246;
primary/red-dark = background: #CC1028;
primary/red-light =background: #F15B6F;

color: secondarias =
secondary/green = background: #32CF52;
secondary/green-light = background: #7BD78D;
secondary/green-dark = background: #13C236;

white/white = background: #FFF8F8;
white/white-light = background: #FFFDFD;
 white/white-dark = background: #FBEBED;
 
black/black = background: #211415;
black/black-light = background: #251E1F;
black/black-dark = background: #140406;

gray/gray-00 = background: #F3F3F3;
gray/gray-1 = background: #E5E5E5;
gray/gray-2 = background: #D9D6D6;
gray/gray-3 =background: #CECECE;
 gray/gray-4 =background: #B1AFAF;
gray/gray-5 =background: #9D9797;
gray/gray-6 =background: #766E6E;
*/

/* --------------font-family-----------
font family: "Lato" styles: Semibold;



*/